<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092928273232-lsls1qphku710n9i3rtvhkh786u00okl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092928273232-lsls1qphku710n9i3rtvhkh786u00okl</string>
	<key>API_KEY</key>
	<string>AIzaSyDVb4COvWpQPwu3p1ZwLi3m5Ee0kQizf1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1092928273232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lostandfound.lostAndFound</string>
	<key>PROJECT_ID</key>
	<string>traceback-ca6b3</string>
	<key>STORAGE_BUCKET</key>
	<string>traceback-ca6b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092928273232:ios:04072651de1835e8120a55</string>
</dict>
</plist>